In [3]:
import pandas as pd # reading the data and making it to the pandas dataframe
df = pd.read_csv(r'D:\Information Technology\BSE HDFC stock data analysis\HDFC stocks raw data.csv')
print(df.head())

           Date  Open Price  High Price  Low Price  Close Price          WAP  \
0  8-April-2025     1764.10     1782.00    1750.60      1769.10  1768.287669
1  7-April-2025     1760.00     1779.60    1738.05      1758.15  1753.573781
2  4-April-2025     1808.00     1842.20    1807.95      1817.00  1825.720749
3  3-April-2025     1779.05     1803.85    1776.70      1793.70  1794.324004
4  2-April-2025     1767.30     1799.30    1767.30      1797.40  1790.067800

   No.of Shares  No. of Trades  Total Turnover (Rs.)  Deliverable Quantity  \
0        507374          15461          8.971832e+08              215479.0
1        784420          11475          1.375538e+09              648000.0
2        262330          11728          4.789413e+08              107297.0
3        219013           9740          3.929803e+08              127132.0
4        119365           4904          2.136714e+08               47555.0

   % Deli. Qty to Traded Qty  Spread High-Low  Spread Close-Open
0                      42.47            31.40               5.00
1                      82.61            41.55              -1.85
2                      40.90            34.25               9.00
3                      58.05            27.15              14.65
4                      39.84            32.00              30.10

In [5]:
df.columns # printing all column name here

Index(['Date', 'Open Price', 'High Price', 'Low Price', 'Close Price', 'WAP',
       'No.of Shares', 'No. of Trades', 'Total Turnover (Rs.)',
       'Deliverable Quantity', '% Deli. Qty to Traded Qty', 'Spread High-Low',
       'Spread Close-Open'],
      dtype='object')

In [7]:
df.info() # checking information about the columns of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4967 entries, 0 to 4966
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       4967 non-null   object
 1   Open Price                 4967 non-null   float64
 2   High Price                 4967 non-null   float64
 3   Low Price                  4967 non-null   float64
 4   Close Price                4967 non-null   float64
 5   WAP                        4967 non-null   float64
 6   No.of Shares               4967 non-null   int64
 7   No. of Trades              4967 non-null   int64
 8   Total Turnover (Rs.)       4967 non-null   float64
 9   Deliverable Quantity       4956 non-null   float64
 10  % Deli. Qty to Traded Qty  4956 non-null   float64
 11  Spread High-Low            4967 non-null   float64
 12  Spread Close-Open          4967 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 504.6+ KB

In [9]:
df['Date'] = pd.to_datetime(df['Date']) # converting the date column into datetime
print(df.dtypes)

Date                         datetime64[ns]
Open Price                          float64
High Price                          float64
Low Price                           float64
Close Price                         float64
WAP                                 float64
No.of Shares                          int64
No. of Trades                         int64
Total Turnover (Rs.)                float64
Deliverable Quantity                float64
% Deli. Qty to Traded Qty           float64
Spread High-Low                     float64
Spread Close-Open                   float64
dtype: object

### Here we are understanding the data structure

In [11]:
# Get the difference between dates,
df = df.sort_values('Date')  # Ensure sorted
df['Date_Diff'] = df['Date'].diff()

# Unique date differences
print(df['Date_Diff'].value_counts())

Date_Diff
1 days    3775
3 days     919
2 days     160
4 days     101
5 days      10
6 days       1
Name: count, dtype: int64

In [13]:
# Filter rows with gaps > 1 day
gaps = df[df['Date_Diff'] > pd.Timedelta(days=1)]
print(gaps[['Date', 'Date_Diff']].head(20))

           Date Date_Diff
4965 2005-04-04    3 days
4960 2005-04-11    3 days
4957 2005-04-15    2 days
4956 2005-04-18    3 days
4951 2005-04-25    3 days
4946 2005-05-02    3 days
4941 2005-05-09    3 days
4936 2005-05-16    3 days
4931 2005-05-23    3 days
4926 2005-05-30    3 days
4920 2005-06-06    2 days
4915 2005-06-13    3 days
4910 2005-06-20    3 days
4905 2005-06-27    3 days
4900 2005-07-04    3 days
4895 2005-07-11    3 days
4890 2005-07-18    3 days
4885 2005-07-25    3 days
4882 2005-07-29    2 days
4881 2005-08-01    3 days

In [15]:
# Create complete date range from start to end
full_range = pd.date_range(start=df['Date'].min(), end=df['Date'].max(), freq='B')  # 'B' = business days

# Find missing business days
missing_dates = full_range.difference(df['Date'])
print("Missing Dates:", missing_dates)

Missing Dates: DatetimeIndex(['2005-04-14', '2005-07-28', '2005-08-15', '2005-09-07',
               '2005-10-12', '2005-11-03', '2005-11-04', '2005-11-15',
               '2006-01-11', '2006-01-26',
               ...
               '2024-06-17', '2024-07-17', '2024-08-15', '2024-10-02',
               '2024-11-15', '2024-11-20', '2024-12-25', '2025-02-26',
               '2025-03-14', '2025-03-31'],
              dtype='datetime64[ns]', length=280, freq=None)

In [17]:
duplicates = df[df.duplicated('Date')]
print("Duplicate dates:\n", duplicates)

Duplicate dates:
 Empty DataFrame
Columns: [Date, Open Price, High Price, Low Price, Close Price, WAP, No.of Shares, No. of Trades, Total Turnover (Rs.), Deliverable Quantity, % Deli. Qty to Traded Qty, Spread High-Low, Spread Close-Open, Date_Diff]
Index: []

### now we are doing little discriptive analysis

In [21]:
# Basic numeric summary
columns_to_check = ['Open Price', 'Close Price', 'No.of Shares', '% Deli. Qty to Traded Qty', 'Spread High-Low']

# Summary statistics
df[columns_to_check].describe()

,Open Price,Close Price,No.of Shares,% Deli. Qty to Traded Qty,Spread High-Low
count,4967.000000,4967.000000,4.967000e+03,4956.000000,4967.000000
mean,1309.820455,1309.044272,2.568132e+05,45.170192,29.729092
std,512.573800,512.515953,5.170399e+05,18.127375,21.977941
min,405.900000,406.050000,1.687000e+03,0.270000,2.950000
25%,895.000000,893.100000,6.778100e+04,31.980000,15.900000
50%,1290.750000,1289.450000,1.299040e+05,43.010000,23.650000
75%,1653.000000,1653.900000,2.697310e+05,56.362500,36.575000
max,2564.000000,2564.950000,1.379186e+07,99.450000,288.000000